body {
  font-family: Noto Serif KR;
  font-size: 17px;
}

.container {
  margin: 0;
}

#nav-bar {
  display: grid;
  grid-template-columns: 3fr 1fr 3fr;
  list-style-type: none;
  text-align: center;
}

.nav-link > a {
  text-decoration: none;
  color: black;
}

.footer-link {
  border-left: 1px solid;
  border-right: 1px solid;
}

.phoneText {
  margin-top: 10px;
}

.header {
  display: grid;
  width: 1877px;
  background-image: url("/upload/backgrounds/mainphoto1.jpg");
  background-size: 100% 100%;
  height: 414px;
  color: white;
}

.headerTitle {
  height: 150px;
  width: 500px;
  margin: 120px auto 0;
  background-color: rgba(128, 128, 128, 0.74);
}

.reqBasketAdmin,
.titleRegistration,
.titleAuth,
.profileTitle,
.OrderTitle,
.UslugiTitle {
  height: 50px;
  width: 300px;
  margin: 150px auto 0;
  background-color: rgba(128, 128, 128, 0.74);
}

.registrationBlock {
  display: grid;
  width: 1892px;
  background-image: url("/upload/backgrounds/regBG.png");
  background-size: 100% 100%;
  height: 414px;
  color: white;
}

.authBlock {
  display: grid;
  width: 1892px;
  background-image: url("/upload/backgrounds/authBG.png");
  background-size: 100% 100%;
  height: 414px;
  color: white;
}

.main > img {
  width: 280px;
}

.register,
.auth {
  border: 1px solid black;
  border-radius: 20px;
}

.register > input {
  border-radius: 10px;
}

.auth > input {
  border-radius: 10px;
}

.btnRegister {
  border-radius: 10px;
  border: 0;
  width: 150px;
  height: 30px;
  background-color: rgb(206, 206, 206);
  margin-bottom: 10px;
}

.btnAuth {
  border-radius: 10px;
  border: 0;
  width: 150px;
  height: 30px;
  background-color: rgb(206, 206, 206);
}

.arrowImg {
  width: 50px;
}

.footerBar > p > img {
  width: 40px;
}

.footerBar {
  justify-content: center;
  display: grid;
  grid-template-columns: 3fr 1fr 3fr;
  text-align: center;
}

.profileBlock {
  display: grid;
  background-image: url("/upload/backgrounds/profileImg.jpg");
  background-size: 100% 100%;
  height: 414px;
  color: white;
}

.midContainer > img {
  width: 100px;
}

.uslugiTitle {
  margin: 0 auto;
}

.midMainContainer {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 1fr;
  border: 0.5px solid;
  padding: 20px;
  border-radius: 20px;
  gap: 10px;
  box-shadow: 3px 3px rgb(192, 192, 192);
}

.midContainer {
  /* border: 1px solid; */
  border-radius: 10px;
  width: 200px;
  box-shadow: rgb(194, 192, 192) 5px 5px 15px;
  padding: 5px 5px 20px;

  display: flex;
  flex-direction: column;
  /* gap: 5px; */
  justify-content: space-evenly;
  align-items: center;
  /* position: relative; */
  height: 320px;
}

.midContainer > img {
  margin-bottom: 10px;
}

.more {
  border-radius: 10px;
  border: 0;
  width: 100px;
  padding: 5px;
  background-color: rgb(206, 206, 206);
  justify-self: flex-end;
  /* position: absolute;
    bottom: 5px; */
}

.headerContOrder {
  background-image: url("/upload/backgrounds/orderBG.png");
  background-size: 100% 100%;
  height: 414px;
  color: white;
  display: grid;
  width: 1892px;
}

.linkOrder {
  border-radius: 10px;
  border: 0;
  width: 250px;
  height: 30px;
  text-decoration: none;
  color: black;
  background-color: rgb(206, 206, 206);
  margin: 200px auto 0;
  box-shadow: 2px 2px 7px;
}

.midOrderCont {
  display: grid;
  border: 1px solid;
  padding: 20px;
  border-radius: 20px;
  gap: 10px;
  width: 1200px;
  margin: 10px auto 0;
}

.orderGo {
  border-radius: 10px;
  border: 0;
  width: 250px;
  padding: 5px;
  background-color: rgb(206, 206, 206);
}

.midOrderCont > p > input {
  border-radius: 10px;
}

.midOrderCont > p > select {
  border-radius: 10px;
}

.secondNav {
  border-left: 1px solid black;
  border-right: 1px solid black;
}

.firstNav,
.thirdNav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.secondNav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.textNavNumber {
  align-self: center;
  margin-top: 15px;
}

.midCont {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.midSecondContainer {
  display: grid;
  grid-template-columns: repeat(3, 300px);
  border: 1px solid;
  padding: 20px;
  border-radius: 20px;
  gap: 30px;
  box-shadow: 3px 3px rgb(192, 192, 192);
}

.midSecondCont {
  border-radius: 10px;
  width: 300px;
  box-shadow: rgb(194, 192, 192) 5px 5px 15px;
  padding: 5px;
}

.midSecondCont > img {
  width: 60px;
}

.contText {
  justify-content: left;
  text-align: left;
  border-radius: 20px;
  width: 500px;
  margin: 0 auto;
  box-shadow: rgb(194, 192, 192) 5px 5px 15px;
  padding-left: 10px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.whyweeCont {
  border: 1px solid black;
  border-radius: 20px;
  padding: 40px;
  box-shadow: 3px 3px rgb(192, 192, 192);
  width: 1840px;
}

#blockMore {
  border: 1px solid black;
  border-radius: 20px;
  padding: 40px;
  box-shadow: 3px 3px rgb(192, 192, 192);
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.card-body > img {
  width: 300px;
  border-radius: 10px;
}

.card-body {
  width: 330px;
  border: 1px solid black;
  border-radius: 10px;
}

.more {
  text-decoration: none;
  color: black;
  /* position: sticky; */
  bottom: 5px;
}

.headerBasket {
  background-image: url("/upload/backgrounds/orderBG.png");
  background-size: 100% 100%;
  height: 414px;
  color: white;
  display: grid;
  width: 1892px;
}

.OrderContAdmin {
  display: grid;
  grid-template-columns: repeat(7, 1000px);
}

.formCreateUs {
  display: grid;
  border: 1px solid;
  padding: 20px;
  border-radius: 20px;
  gap: 10px;
  width: 350px;
  margin: 10px auto 0;
}

.photoCreateUs {
  background-image: url("/upload/backgrounds/CreateUsImg.jpg");
  background-size: 100% 100%;
  height: 414px;
  color: white;
  display: grid;
  width: 1892px;
}

.photoCreateUs > h1 {
  margin: 50px auto 0;
}

.formCreateUs > * {
  width: 300px;
}

.formCreateAc {
  display: grid;
  border: 1px solid;
  padding: 20px;
  border-radius: 20px;
  gap: 10px;
  width: 350px;
  margin: 10px auto 0;
}

.photoCreateAc {
  background-image: url("/upload/backgrounds/createAc.jpg");
  background-size: 100% 100%;
  height: 414px;
  color: white;
  display: grid;
  width: 1892px;
}

.photoCreateAc > h1 {
  margin: 0 auto;
}

.photoReq {
  background-image: url("/upload/backgrounds/reqBG.jpg");
  background-size: 100% 100%;
  height: 414px;
  color: white;
  display: grid;
  width: 1892px;
}

.photoReq > h1 {
  margin: 0 auto;
}

.worksCards {
  display: grid;
  border: 1px solid black;
  border-radius: 20px;
  padding: 40px;
  box-shadow: 3px 3px rgb(192, 192, 192);
  grid-template-columns: repeat(3, 1fr);
}
.modal-wrapper {
  top: 0;
  position: fixed;
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(34, 34, 34, 0.52);
}
.modalll {
  padding: 20px;
  width: 50%;
  min-height: 50%;

  background-color: white;
}

.cardsWorks {
  display: grid;
  grid-template-columns: repeat(2, 210px);
  border: 1px solid;
  border-radius: 10px;
  width: 430px;
  padding: 10px;
}

.cardsWorks > img {
  width: 200px;
  height: 150px;
  border-top: 1px;
  border-radius: 10px;
}

.cardsWorks > p {
  display: grid;
  justify-content: center;
  align-items: center;
}

.moreElement > img {
  width: 200px;
}

table {
  border-spacing: 0 10px;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  width: 1000px;
}
th {
  padding: 10px 20px;
  background: #000000;
  color: #c9c9c9;
  border-right: 2px solid;
  font-size: 0.9em;
}
th:first-child {
  text-align: left;
}
th:last-child {
  border-right: 1px solid;
}
td {
  vertical-align: middle;
  padding: 10px;
  font-size: 14px;
  text-align: center;
  border-top: 2px solid #56433d;
  border-bottom: 2px solid #56433d;
  border-right: 2px solid #56433d;
}
td:first-child {
  border-left: 2px solid #56433d;
  border-right: 2px solid;
}
td:nth-child(2) {
  text-align: left;
}

.reqUserCont {
  display: grid;
}

.reqUser {
  margin: 20px auto 0;
}

.midMainContainer > a {
  text-decoration: none;
  color: black;
  border-radius: 5px;
  border: 1px solid black;
  background-color: rgb(189, 189, 189);
  padding: 10px;
  margin: 0 auto;
}

.tableAdminBasket {
  width: 1200px;
}

.photoUsl {
  background-image: url("/upload/backgrounds/alluslbg.jpg");
  background-size: 100% 100%;
  height: 414px;
  color: white;
  display: grid;
}

@media (max-width: 430px) {
  .textNavNumber {
    display: none;
  }
  #nav-bar {
    display: grid;
    grid-template-columns: 3fr;
    gap: 20px;
    text-align: center;
    justify-content: center;
  }
  .header{
    display: none;
  }
  .titlesMain{
    font-size: 13px;
padding: 0px;
  }
  h2{
    font-size: 14px;
  }
  .linkOrder{
    padding: 3px;
  }
  .midMainContainer{
    display: grid;
    grid-template-columns: none;
    border: 0.5px solid;
    padding: 20px;
    border-radius: 20px;
    gap: 10px;
    box-shadow: 3px 3px rgb(192, 192, 192);
  }
  .midSecondContainer {
    display: grid;
    grid-template-columns: none;
    border: 1px solid;
    padding: 5px;
    border-radius: 20px;
    gap: 40px;
    box-shadow: 3px 3px rgb(192, 192, 192);
}
.whyweeCont{
    border: 1px solid black;
    border-radius: 20px;
    padding: 10px;
    box-shadow: 3px 3px rgb(192, 192, 192);
    width: 100%;
}
.midSecondCont{
    width: 100%;
}
.contText{
font-size: 10px;
width: 100%;
}
.worksCards{
    display: flex;
    flex-direction: column;
    padding: 5px;
    gap: 10px;

}
.cardsWorks{
    width: 100%;
}
.cardsWorks > img{
    width: 60px;
    height: 40px;
  
}
.cardsWorks > p{
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    margin-right: 150px;
}
.footerBar {
    justify-content: center;
 flex-direction: column;
    text-align: center;
    display: flex;
}
.col-4{
    display: none;
}
.main {
    padding-bottom: 20px;
}
.headerContOrder{
    display: none;
}
.midOrderCont{
    display: grid;
    border: 1px solid;
    padding: 20px;
    border-radius: 20px;
    gap: 10px;
    width: 100%;
    margin: 10px auto 0;
    
}
.moreElement > img{
    width: 100px;
}
.authBlock{
    display: none;
}
.registrationBlock{
    display: none;
}
}

